 @font-face { font-family: opensans; src: url('Resources/OpenSans-Regular.ttf');}

body {
	background-color: #222222;
}

.social {
	touch-action: manipulation;
	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */
}

.prompt {
	font-family: opensans;
	color: white;
	text-align: center;
	font-size:25px;

	position: fixed;
	width: 90%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*outline: 2px solid #555555;*/
}

.bottomHover {
  position:fixed;
  bottom : 10%;
	left : 25%;
  width:100%;
}

.button {

	font-family: opensans;
	text-align: center;
	font-size: 25px;
	padding: 10px 0px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

  margin-bottom: 5px;

	width:50%;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */
	touch-action: manipulation;
}
.green {
  background-color: rgb(41, 171, 81);
}
.red {
  background-color: rgb(200, 99, 35)  ;
}
.blue {
  background-color: rgb(77, 175, 255) ;
}
.purple {
  background-color: rgb(164, 41, 171) ;
}
.green:hover {
  background-color: rgb(31, 199, 83);
}
.red:hover {
  background-color: rgb(222, 100, 22)  ;
}
.blue:hover {
  background-color: rgb(86, 170, 238) ;
}
.purple:hover {
  background-color: rgb(205, 39, 214) ;
}
